{% load compress %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
		{% compress css %}
	<head><script src="/gdpr/gdprscript.js?buildTime=1234&hasRemindMe=true&stealth=false"></script>
		<title>AnimeAF: Dubbed Anime  Subbed Anime - Anime A-F</title>
<meta name="description" content="Watch Dubbed Anime / Subbed Anime Online in HD at Anime A-F! Over 10,000 Episodes, and 500 anime af! and in Animeaf watch online sub and dub free" />
<meta name="keywords" content="AFAnime,animeaf,af anime,anime A-F,afanimes,after life anime,AFAnime,animesaf" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<html lang="en">
<link rel="shortcut icon" href="http://www.afterlifeanime.weebly.com/editor/uploads/6/0/5/2/60529661/custom_themes/653294941569514299/files/guilty.jpg"/>
<meta name="msvalidate.01" content="B8535D78A7715354583BFA71468155DC" />
<meta name="google-site-verification" content="Djgk6wehGvzxNKeLaVgaj9kDHDII7Agpt-qEmwkWbBk" />

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'blog/dipabu.css' %}" type="text/css"/>
		<link id="wsite-base-style" rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1234" />
<link rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/old/fancybox.css?1234" />
<link rel="stylesheet" type="text/css" href="http://cdn2.editmysite.com/css/social-icons.css?buildtime=1234" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="{%static 'blog/main_style.css'%}" title="wsite-theme-css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />

<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style>
	@import url(http://fonts.googleapis.com/css?family=Lato:300, 400, 700);

	@font-face {
		font-family: "fontawesome";
		src: url("../font/fontawesome.eot");
		src: url("../font/fontawesome.eot?#iefix") format("embedded-opentype"),
			url("../font/fontawesome.svg#fontawesome") format("svg"),
			url("../font/fontawesome.woff") format("woff"),
			url("../font/fontawesome.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}

	body {
		font-family: "Lato", Calibri, Arial, sans-serif;
	}

	.nav {
		z-index: 9999;
	}

	.arrow {
		width: 30px;
		height: 30px;
		background: #fff;
		color: #000;
		font-size: 15px;
		text-align: center;
		line-height: 10px;
		cursor: pointer;
		font-weight: normal;
		padding: 2px;
		top: 200px;
		position: relative;
		-moz-opacity: 0.7;
		-khtml-opacity: 0.7;
		opacity: 1.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha" (Opacity = 70);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 70);
		filter: alpha(opacity = 70);
	}

	.arrow:hover {
		background: #0066cc;
	}

	#slider-container {
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}

	#slider-container #slider {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	#slider-container .face {
		position: absolute;
		padding: 0px;
	}

	.face {
		height: 150px;
		width: 200px;
		text-align: center;
		padding: 25px;
		opacity: 0.8;
	}

	.one {
		background-color: #cccccc;
	}

	.two {
		background-color: #999999;
	}

	.three {
		background-color: #666666;
	}

	.four {
		background-color: #333333;
	}

	.five {
		background-color: #666666;
	}

	.six {
		background-color: #aaaaaa;
	}
</style>
<style>
.wsite-background {background-image: url("{% static 'blog/img/bhang.jpg'%}") !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: 100% !important;background-color: transparent !important;background: inherit;}
body.wsite-background {background-attachment: fixed !important;}.wsite-background.wsite-custom-background{ background-size: cover !important}
</style><link rel='stylesheet' type='text/css' href='http://cdn2.editmysite.com/css/old/slideshow/slideshow.css?1234' />

		<script>
var STATIC_BASE = '//cdn1.editmysite.com/';
var ASSETS_BASE = '//cdn2.editmysite.com/';
var STYLE_PREFIX = 'wsite';
</script>


<script type="text/javascript" src="http://cdn2.editmysite.com/js/lang/en/stl.js?buildTime=1234&"></script>


		
		
	</head>
	<body class="landing-page  wsite-theme-light  wsite-page-index"><div class="background wsite-background wsite-custom-background"><div class="shade"></div></div>

	<div id="wrapper">
		
		<div id="header">
			<div id="nav-wrapper">
				<div id="logo"><span class="wsite-logo">

	<a href="">
		<img src="{%static 'images/BhangraDynasty.png'%}" style="margin-top:-7px;margin-left:-20px;" alt="Bhangra Dynasty" />
	</a>

</span></div>
				<div id="nav"><ul class="wsite-menu-default">
		<li id="active" class="wsite-menu-item-wrap">
			<a
						href="index.html"
				class="wsite-menu-item"
				>
				Bhangra
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-933789332163428116"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="chat.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			CHAT
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg944026335546470134" class="wsite-menu-item-wrap">
			<a
						href="about-us.html"
				class="wsite-menu-item"
				>
				About Us
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-657043717756658423"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="privacy-policy.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			PRIVACY POLICY
		</span>
	</a>
	
</li>
<li id="wsite-nav-611411930455593723"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="dmca.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			DMCA
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg384181525217147694" class="wsite-menu-item-wrap">
			<a
						href="top-hit-anime-list.html"
				class="wsite-menu-item"
				>
				TOP Dance List
			</a>
			
		</li>
		<li id="pg203264960158899423" class="wsite-menu-item-wrap">
			<a
						href="blog.html"
				class="wsite-menu-item"
				>
				Blog
			</a>
			
		</li>
		<li id="pg491387058326773654" class="wsite-menu-item-wrap">
			<a
						href="genres.html"
				class="wsite-menu-item"
				>
				Genres
			</a>
			
		</li>
		<li id="pg812564434109261759" class="wsite-menu-item-wrap">
			<a
						href="animeaf-geners-list.html"
				class="wsite-menu-item"
				>
				Bhangra geners list
			</a>
			
		</li>
</ul>
</div>
				<label id="menu-button" class="hamburger" for="mobile-input"><span></span></label>
			</div>
		</div>

    <div id="banner">
    	<div id="banner-content">
				<div class="container">
					<h2><span class="wsite-text wsite-headline">
	<span style="font-weight:normal"><font color="#76cae9">Bhangra Dynasty</font></span>
</span></h2>
					<p><span class="wsite-text wsite-headline-paragraph">
	<font size="2"><font color="#da73d2">AF</font></font>
</span></p>
					<div class="button"><div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="next-anime.html" >
<span class="wsite-button-inner">RATE for next Anime</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div></div>					
				</div>
      </div>	 
    </div>

		<div id="main">
			<div class="container"><div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -0px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:56.80187272545%; padding:0 0px;">
					
						

<div><div id="354059978356663056" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"> <h1>Bhangra Dynasty:Songs music and dance</h1></div>



</div>

<h2 class="wsite-content-title" style="text-align:left;">RECENT ADDED</h2>



<div class="container">
	<div id="slider-container">
		<div id="slider">
			<div class="face one"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-0/c78.0.200.200a/p200x200/52637217_1237683966381648_778760064201654272_n.jpg?_nc_cat=107&_nc_ht=scontent.fdel3-1.fna&oh=17d3a7ac500ffd85d8935a5e6f28905a&oe=5D1DA71B"></div>
			<div class="face two"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-0/p200x200/43765088_1153824984767547_3642000445871751168_n.jpg?_nc_cat=105&_nc_ht=scontent.fdel3-1.fna&oh=3910c2740be83d104b9ae3c89afcfb3e&oe=5CE25F8D"></div>
			<div class="face three"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-0/c37.0.200.200a/p200x200/40247031_1130260710457308_4082404442488438784_n.jpg?_nc_cat=101&_nc_ht=scontent.fdel3-1.fna&oh=840b0787d4f3888b5026434bd38866e4&oe=5D1F784B"></div>
			<div class="face four"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-0/c34.0.200.200a/p200x200/40920943_1134548996695146_292963666335105024_n.jpg?_nc_cat=107&_nc_ht=scontent.fdel3-1.fna&oh=d97d98d0afd8c46aabccf732fa035b60&oe=5D1B4033"></div>

			<div class="face five"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/13901513_677615895721794_1567758254533870973_n.jpg?_nc_cat=111&_nc_ht=scontent.fdel3-1.fna&oh=54b7fc62178b63352cdbc8bd8db3b35f&oe=5D185D9A"></div>

			<div class="face six"><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-0/q83/c51.0.200.200a/p200x200/29388690_1007630599386987_5039657935853060096_n.jpg?_nc_cat=104&_nc_ht=scontent.fdel3-1.fna&oh=fe0984294c27bc79539e48148370a834&oe=5CE06C20"></div>
		</div>
		<div class="nav">
			<i class="left arrow icon-arrow-left icon-4x"></i>
			<i class="pause arrow icon-pause icon-4x"></i>
			<i class="right arrow icon-arrow-right icon-4x"></i>
		</div>
	</div>
</div>
<script src="{%static 'blog/js/jquery-1.8.2.min.js'%}"></script>
<script src="{%static 'blog/js/jquery.impulse.slider-0.4.js'%}"></script>
<script type="text/javascript">
	$(window).load(function() {
		$("#slider").impulseslider({
			height: 150,
			width: 200,
			depth: 170,
			perspective: 500,
			pauseTime: 1500,
			transitionDuration: 1000,
			transitionEffect: "ease-in-out",
			autostart: true,
			rightSelector: ".right",
			leftSelector: ".left",
			pauseSelector: ".pause",
			directionRight: true,
			containerSelector: "#slider-container",
			spinnerSelector: "#slider"
		});
	});
</script>


<div style="height:0px;overflow:hidden"></div></div>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<blockquote style="text-align:center;"><em><strong>welcome to Bhangra Dynasty</strong></em></blockquote>

<div><div id="522163627638701007" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div class="fb-page"data-href="https://www.facebook.com/AfterlifeAnime-1632106060392828/?ref=hl"data-small-header="false"data-adapt-container-width="true"data-hide-cover="false"data-show-facepile="true"></div></div>



</div>


					
				</td>				<td class="wsite-multicol-col" style="width:17.999219697729%; padding:0 0px;">
					
						

<div class="paragraph" style="text-align:left;">LATEST ADDED ANIME</div>

<h2 class="wsite-content-title" style="text-align:left;"><a href="the-devil-is-a-part-timer.html"><font color="#76cae9">The Devil is a Part-Timer!</font></a></h2>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><a href="tokyo-ghoul.html"><font color="#5cbce0">TOKYO GHOUL</font></a></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
					
						

<div class="wsite-spacer" style="height:50px;"></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<h2 class="wsite-content-title" style="text-align:left;"><a href="guilty-crown.html"><font color="#3a96b8">GUILTY CROWN</font></a></h2>

<h2 class="wsite-content-title" style="text-align:left;">&#8203;<a href="blazeblue.html"><font color="#3387a2">BLAZ BLUE</font></a></h2>

<div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;"></hr>
<div style="height: 20px; overflow: hidden; width: 100%;"></div></div>

<div class="paragraph" style="text-align:left;">COMPLETED Dynasty</div>

<h2 class="wsite-content-title" style="text-align:left;"><a href="dead-note.html"><font color="#da4444">DEAth NOTE1~2</font></a></h2>

<h2 class="wsite-content-title" style="text-align:left;"><a href="attack-on-titan.html"><font color="#da4444">ATTACK ON TITAN</font></a></h2>

<h2 class="wsite-content-title" style="text-align:left;"><font color="#da4444"><a href="parasyte.html"><font color="#da4444">PARASYTE</font></a></font></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:25.198907576821%; padding:0 0px;">
					
						

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-highlight" href="chat.html" target="_blank">
<span class="wsite-button-inner">LIVE CHAT</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<h2 class="wsite-content-title" style="text-align:left;"><em><span style="font-weight:normal">CASUING HEAVY LOAD ON FRONT PAGE&nbsp;</span></em></h2>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:right">
<a href='uploads/6/0/5/2/60529661/4857863_orig.gif' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="{%static 'images/b1.jpg'%}" alt="Anime Witch" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div style="text-align:right;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="games.html" >
<span class="wsite-button-inner">DEAD NOTE !</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div><div id="585024076964926575" align="right" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div itemscope itemtype=http://animeaf.weebly.com>
<span itemprop=”name”>Bhangra Dynasty</span>
<div></div>
</div></div>



</div>

<h2 class="wsite-content-title" style="text-align:left;"><span style="font-weight:normal">On-going &nbsp;upcoming</span></h2>

<div class="paragraph" style="text-align:left;"><em><font size="4"><a href="fairy-tail-2014.html" title=""><strong>FAIRY TAIL(2014)</strong></a></font></em><br /><em><a href="http://afterlifeanime.weebly.com/gintama-2015.html" title=""><strong><font size="4">Gintama' (2015)</font></strong></a></em><br /><em><a href="naruto-shippuden.html" title=""><strong>NARUTO SHIPPUDEN</strong></a></em><br /><em><strong><a href="http://afterlifeanime.weebly.com/dragon-ball-super.html" title="">Dragon Ball Super</a></strong></em></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -30px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:70.740740740741%; padding:0 30px;">
					
						

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:20px;"><div class="wsite-youtube-wrapper wsite-youtube-size-medium wsite-youtube-align-right">
<div class="wsite-youtube-container">

<iframe src="http://www.youtube.com/embed/xZPvzB2FKik?wmode=opaque" frameborder="0" allowfullscreen></iframe>
</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:29.259259259259%; padding:0 30px;">
					
						

<div class="paragraph" style="text-align:left;">STATS<br /><br />ATTACK ON TITAN COMPLETED<br />EPISODE1-25 ENG DUB<br /><br />DEATH NOTE EPISODE1-10</div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div id="663535894700938666" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><script src="https://apis.google.com/js/platform.js"></script><div class="g-ytsubscribe"data-channelid="UCchtW-V8M_PUZOcxKiypDCw"data-layout="full"data-count="default"></div></div>



</div>

<div><div id="270722705681058474" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><h3>Bhangra Live class dance</h3></div>



</div>

<h2 class="wsite-content-title" style="text-align:left;">RECENT EPISODE ADDED&nbsp;</h2>

<h2 class="wsite-content-title" style="text-align:left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; AF English Dubbed</h2>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25.322410455884%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
<a href='uploads/6/0/5/2/60529661/3074929_orig.jpg' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="{%static 'images/b1.jpg' %}" alt="animeaf Parasyte" style="width:235;max-width:100%" />
</a>
<div style="display:block;font-size:90%">PS</div>
</div></div>

<h2 class="wsite-content-title" style="text-align:left;"><font size="4">Parasyte <br />&#8203;dubbed episode</font><br /><font size="5">480p<br />Status Ongoing&nbsp;</font></h2>

<div><div style="height: 0px; overflow: hidden; width: 0px;"></div>
<hr class="styled-hr" style="width:0px;"></hr>
<div style="height: 0px; overflow: hidden; width: 0px;"></div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
<a href='uploads/6/0/5/2/60529661/1479137_orig.jpg' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="uploads/6/0/5/2/60529661/1479137.jpg?235" alt="animeaf blaz blue" style="width:235;max-width:100%" />
</a>
<div style="display:block;font-size:90%">BB</div>
</div></div>

<h2 class="wsite-content-title" style="text-align:left;"><font size="3">BLAZ BLUE <br />&#8203;DUBBED EPISODE</font><br />480p<br />&#8203;status completed</h2>

<div><div style="height: 0px; overflow: hidden; width: 0px;"></div>
<hr class="styled-hr" style="width:0px;"></hr>
<div style="height: 0px; overflow: hidden; width: 0px;"></div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:30px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:right">
<a href='uploads/6/0/5/2/60529661/6154697_orig.jpg' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="uploads/6/0/5/2/60529661/6154697.jpg?258" alt="animeaf ﻿Guilty Crown" style="width:258;max-width:100%" />
</a>
<div style="display:block;font-size:90%">GC</div>
</div></div>

<h2 class="wsite-content-title" style="text-align:left;"><font size="4">GUILTY CROWN <br />&#8203;dubbed episode</font><br /><font size="5">480p<br />&#8203;Status completed</font></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:24.035834650647%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><font><font size="2">PARASYTE ENG DUB EP1</font><br /><font><font size="2">&nbsp;&nbsp;PARASYTE ENG DUB EP2</font><br /><font><font size="2">&nbsp; &nbsp;&nbsp;PARASYTE ENG DUB EP3</font><br /><font><font size="2">&nbsp; &nbsp; &nbsp;PARASYTE ENG DUB EP4</font><br /><font><font size="2">&nbsp; &nbsp; &nbsp;&nbsp;PARASYTE ENG DUB EP5</font><br /><font><font size="2">&nbsp; &nbsp; &nbsp;PARASYTE ENG DUB EP6</font><br /><font><font size="2">&nbsp; &nbsp;PARASYTE ENG DUB EP7</font><br /><font><font size="2">&nbsp;PARASYTE ENG DUB EP8</font></font></font></font></font></font></font></font></font></h2>

<div class="paragraph" style="text-align:left;"><font size="2"><strong>PS ENG DUB 9-10 </strong>11-15upcoming</font></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25.484943607297%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><font><font size="2">&nbsp; &nbsp; &nbsp;TOKYO GHOUL&nbsp;ENG DUB EP1<br />&nbsp; &nbsp;&nbsp;TOKYO GHOUL&nbsp;ENG DUB EP2<br />&nbsp; &nbsp;TOKYO GHOUL&nbsp;ENG DUB EP3<br />&nbsp;&nbsp;TOKYO GHOUL&nbsp;ENG DUB EP4<br />&nbsp;TOKYO GHOUL&nbsp;ENG DUB EP5<br />&nbsp;&nbsp;TOKYO GHOUL&nbsp;ENG DUB EP6<br />&nbsp; &nbsp;TOKYO GHOUL&nbsp;ENG DUB EP7</font><br /><font size="2">&nbsp; &nbsp; &nbsp;TOKYO GHOUL&nbsp;ENG DUB EP8</font></font></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:25.156811286173%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
<a href='uploads/6/0/5/2/60529661/3318951_orig.png' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="uploads/6/0/5/2/60529661/3318951.png?269" alt="animeaf ﻿tokyo ghoul" style="width:269;max-width:100%" />
</a>
<div style="display:block;font-size:90%">TG</div>
</div></div>

<h2 class="wsite-content-title" style="text-align:right;"><font size="3">TOKYO GHOUL <br />&#8203;DUBBED EPISODE</font><br />720p<br />status completed</h2>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:0px;margin-left:0px;margin-right:0px;text-align:center">
<a href='uploads/6/0/5/2/60529661/6570677_orig.jpg' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="uploads/6/0/5/2/60529661/6570677.jpg?253" alt="animeaf The Devil is a Part-Timer" style="width:253;max-width:100%" />
</a>
<div style="display:block;font-size:90%">TDPT</div>
</div></div>

<h2 class="wsite-content-title" style="text-align:right;"><font size="3">The Devil is a Part-Timer&#8203; DUBBED EPISODE</font><br />720p<br />status completed</h2>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="wsite-spacer" style="height:49.666666px;"></div>

<div class="paragraph" style="text-align:center;"><strong>Watch Dubbed Bhangra Dynasty / Subbed Bhangra Dynasty Online in HD at anime af! Over 10,000 Episodes, and 500 A-F Bhangra Dynasty! and in Bhangra Dynasty watch online sub and dub free&#8203; on&nbsp;Anime A-F&nbsp;</strong><br />vote for your choice Bhangra Dynasty&nbsp;<br />Anime a-f will accept everyone answer<br />any important message contact me plz [ https://www.facebook.com/AfterlifeAnime-1632106060392828/messages/ ]<br />batch Bhangra Dynasty per page 4 episode coming soon <font size="4"><u><strong><a href="820311eyes-episode-1-4.html">test page</a><br />any idea plz send plz comment there</strong></u></font><br />FUNANIMATION AFFLIATED ONLY SHORT EPISODE :) FULL ON FUNAIMATION SITES&nbsp;<br />right now its hide from search engine until all video remove in1month to reput with short one then it will relaunch ^_^<br />&#8203;<br /></div>

<div class="paragraph" style="text-align:center;"><span><a href="" title="">http://animeaf.weebly.com</a></span></div>

<div><div id="706406169328851222" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><script type="text/javascript">
/ VRTZ JS   300 x 250 pagead  DO NOT MODIFY  /
document.write('<s'+'cript src="http://banner.vrtzads.com/scripts/pageads.js?vzId=VZR330303V78802G&vzR='+Math.floor(Math.random()*100*(new Date().getTime()/1000))+'"></s'+'cript>');
</script></div>



</div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><font size="2">AFTER&nbsp;</font><br /><span><font size="2">&#8203;in the time following (an event or another period of time of anime).</font></span></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><font size="2">LIFE</font><br /><span><font size="2">&#8203;the existence of an individual human being or anime.</font></span></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><font size="2">ANIME <br />a style of Japanese film and television animation, typically aimed at adults as well as children.</font></h2>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">
					
						

<div><div id="344179552147976762" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><link rel="canonical" href="http://www.animeaf.weebly.com" /></div>



</div>

<div><div id="340579648326519973" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><meta name="propeller" content="cf95c500cb0e65af9ac599ccf83dd086" /></div>



</div>


					
				</td>				<td class="wsite-multicol-col" style="width:49.999999999999%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href='uploads/6/0/5/2/60529661/7468851_orig.gif' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="uploads/6/0/5/2/60529661/7468851_orig.gif" alt="animeaf" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>
</div>
</div>
			
		</div>


<div id="multicolumnfooter"><div class='wsite-elements wsite-not-footer'>
<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:26.788359693274%; padding:0 15px;">
					
						

<div><div id="937322145152471078" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><h4>Copyright Bhangra Dynasty 2017-2019.All rights reserved.</h4></div>



</div>

<div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title" style="text-align:left;"><font color="#c255b9" size="6"><a href="">Bhangra Dynasty</a></font><br /></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:22.271299006451%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:left">
<a href='uploads/6/0/5/2/60529661/6522165_orig.jpg' rel='lightbox' onclick='if (!lightboxLoaded) return false'>
<img src="uploads/6/0/5/2/60529661/6522165.jpg?193" alt="anime af" style="width:193;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:26.386359264627%; padding:0 15px;">
					
						

<div><div id="442185255192380762" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><script id="_waud5z">var _wau=_wau||[];_wau.push(["classic","nb9w23r36nyd","d5z"]);(function(){var s=document.createElement("script");s.async=true;s.src="http://widgets.amung.us/classic.js";document.getElementsByTagName("head")[0].appendChild(s)})();</script></div>



</div>

<div class="paragraph" style="text-align:left;">O n l i n e &nbsp;i n d i c a t o r</div>

<div class="paragraph" style="text-align:left;">Watch Online at Bhangra Dynasty<br /></div>


					
				</td>				<td class="wsite-multicol-col" style="width:24.553982035648%; padding:0 15px;">
					
						

<div style="text-align:center;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="https://www.facebook.com/AfterlifeAnime-1632106060392828/" target="_blank">
<span class="wsite-button-inner">FAN Community ^^</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>

<h2 class="wsite-content-title" style="text-align:center;"><u><span><font color="#d061c7">COMING SOON</font></span></u></h2>

<div><div id="682314717356962016" align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><script src="https://apis.google.com/js/platform.js" async defer></script><div class="g-follow" data-annotation="bubble" data-height="20" data-href="http://plus.google.com/u/0/109600023224330431228" data-rel="publisher"></div></div>



</div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="paragraph" style="text-align:left;"><u><font size="3"><font color="#91e05c"><font><a href="privacy-policy.html">PRIVACY POLICY&nbsp;</a></font><br /><a href="about-us.html">ABOUT US&nbsp;</a><br /><a href="http://animeaf.weebly.com/sitemap.xml">&#8203;SITEMAP</a></font><br /><font color="#91e05c"><a href="dmca.html">&#8203;DMCA&nbsp;</a></font></font></u></div></div></div>
		<div id="footer" style="display:none">Create a <a target="_top" href="http://www.weebly.com/">free web site</a> with <a target="_top" href="http://www.weebly.com/" title="free web site">Weebly</a></div>
	</div>

	<div id="mobile-nav"><ul class="wsite-menu-default">
		<li id="active" class="wsite-menu-item-wrap">
			<a
						href="index.html"
				class="wsite-menu-item"
				>
				ANIMUS
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-933789332163428116"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="chat.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			CHAT
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg944026335546470134" class="wsite-menu-item-wrap">
			<a
						href="about-us.html"
				class="wsite-menu-item"
				>
				About Us
			</a>
			<div class="wsite-menu-wrap" style="display:none">
	<ul class="wsite-menu">
		<li id="wsite-nav-657043717756658423"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="privacy-policy.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			PRIVACY POLICY
		</span>
	</a>
	
</li>
<li id="wsite-nav-611411930455593723"
	class="wsite-menu-subitem-wrap "
	>
	<a
				href="dmca.html"
		class="wsite-menu-subitem"
		>
		<span class="wsite-menu-title">
			DMCA
		</span>
	</a>
	
</li>

	</ul>
</div>

		</li>
		<li id="pg384181525217147694" class="wsite-menu-item-wrap">
			<a
						href="top-hit-anime-list.html"
				class="wsite-menu-item"
				>
				TOP HIT ANIME LIST
			</a>
			
		</li>
		<li id="pg646278517218742876" class="wsite-menu-item-wrap">
			<a
						href="games.html"
				class="wsite-menu-item"
				>
				GAMES
			</a>
			
		</li>
		<li id="pg203264960158899423" class="wsite-menu-item-wrap">
			<a
						href="blog.html"
				class="wsite-menu-item"
				>
				Blog
			</a>
			
		</li>
		<li id="pg491387058326773654" class="wsite-menu-item-wrap">
			<a
						href="genres.html"
				class="wsite-menu-item"
				>
				Genres
			</a>
			
		</li>
		<li id="pg812564434109261759" class="wsite-menu-item-wrap">
			<a
						href="animeaf-geners-list.html"
				class="wsite-menu-item"
				>
				AnimeAF geners list
			</a>
			
		</li>
</ul>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>	
	<script type="text/javascript" src="{% static 'blog/plugins.js'%}"></script>
	<script type="text/javascript" src="{% static 'blog/custom.js'%}"></script>
  


<link rel="opengraph" href="{DESTINATION_URL}"/>
<meta property="og:type" content="metadata"/>
<link rel="origin" href={SOURCE_URL}/>
<link rel="canonical" href="DESKTOP_OBJECT_URL" />
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1695842580631174";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<link rel="publisher" href="https://plus.google.com/109600023224330431228"/> 
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-566adc1b368d6832" async="async"></script>
<link href="{%static 'blog/3dthho1.css' %}" rel="stylesheet" type="text/css"/>
<link rel="opengraph" href="animeaf.weebly.com"/>
<link rel="canonical" href="http://www.animeaf.weebly.com" /><script src="http://go.padstm.com/?id=550538"></script>
{%endcompress%}
	</body>
</html>
