
{% extends "blog/base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1><b>Important Announcements</b></h1>
        <a type="button" class="btn btn-link" href="{% url 'blog-home' %}">BACK-HOME</a>
      </div>

      {% for c in comments %}
      {% filter upper %}
      <div class="page-header">
        <h1><i>{{c.name}}</i></h1>
      </div>
      <div class="well">
        <p><i>{{c.comment}}</i></p>
      </div>
      {%endfilter%}
      {% endfor %}
    </div> <!-- /container -->

{%endblock content%}